@use './mixins' as *;
@use './variables' as *;

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.layout {
    @include display-flex(column, 20px);

    padding: 2rem;
    background: rgb(245, 245, 245);
}

.main {
    @include display-flex(row, 20px);
}

.text {
    &--default {
        color: black;
        font-size: 1.6rem;
        font-weight: 600;
    }
}