@use "../../app/styles/mixins" as *;
@use "../../app/styles/variables" as *;

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 6rem;

  &__logo {
    max-width: 80px;
  }

  &-nav ul {
    display: flex;
    gap: 20px;
    list-style: none;

    li {
      padding: 20px;
      margin: 0 4px;
    }

    a {
      font-size: 16px;
      color: $content;
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }

  .header-signin {
    @include display-flex(row, 20px, space-between, center);
  }
}
