@use "../../../app/styles/variables" as *;
@use "../../../app/styles/mixins" as *;

.add-expense-widget {
  background-color: $white;
  padding: 20px 30px;
  border-radius: 12px;

  &__title {
    font-size: 2.4rem;
    font-weight: 600;
    color: $black;
    text-align: center;
  }
}

.add-expense-form {
  @include display-flex(column, 10px);

  &__button {
    margin-top: 26px;
  }

  .error {
    color: $error;
  }
}
