@use "../../app/styles/mixins" as *;
@use "../../../src/app/styles/variables" as *;

.card {
  // @include display-flex(row, 20px, space-between, center);
  display: grid;
  grid-template-columns: 64px 1fr 56px;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  color: $black;

  margin: 0px 20px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .card-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .card--left {
    @include display-flex(column, 8px);

    .card-title {
      font-weight: 500;
      font-size: 17px;
      line-height: 22px;
      letter-spacing: -0.43px;
      color: $black;
    }

    .card-category {
      font-size: 17px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -0.43px;
      color: #8e8e93;
    }
  }

  .card--right {
    @include display-flex(column, 8px);
    font-weight: 600;
  }
}

.expenses-list {
  @include display-flex(column, 0px);

  background: $white;
  border-radius: 10px;
  max-width: 22rem;
  width: 100%;
}

.expense-add-block {
  @include display-flex(row, 20px, space-between, center);

  height: fit-content;
}

.add-expense-widget {
  padding: 2rem;
  border-radius: 64px 64px 0 0;
  min-height: 100vh;
}
