@use "@/app/styles/mixins" as *;
@use "@/app/styles/variables" as *;

.card {
  @include display-flex(column, 20px, center, center);

  background: $white;
  padding: 40px 56px;
  border-radius: 28px;
  color: $black;
  box-shadow: inset 0 0 0 1px $dark-grey;
  transition: transform 0.3s cubic-bezier(0, 0, 0.5, 1);

  &:hover {
    transform: scale(1.0096774194);
  }
  &--row {
    flex-direction: row;
  }

  &__icon {
    width: 64px;
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    color: $content;
  }

  &__content-wrapper {
    @include display-flex(column, 8px);
  }

  &__content {
    font-size: 20px;
    font-weight: 400;
    color: $content;
  }
}
